<html>
  <head>

    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <div class="container">
      <h1><Menu></Menu></h1>
      <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ms-3" href="#" >Menu</a>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link "  routerLink='/colleagues'>Accueil</a></li>
          <li class="nav-item"><a class="nav-link "  routerLink='/form-template'>Formulaire-Templete</a></li>
          <li class="nav-item"><a class="nav-link "  routerLink='/form-reactive'>Formulaire-Reactive</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
