<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
  <div class="card" style="margin: 0.5em;">
    <div class="card-body text-center">
      <img class="img-fluid" src={{colleague.photo}} alt={{colleague.pseudo}}>
      <br>
      <p>
        {{colleague.pseudo }}
        <br>
        {{colleague.score }}
        <br>
        Nom : {{colleague.last}}
        <br>
        Prénom : {{colleague.first}}
      </p>
    </div>
  </div>
  </div>
  <button class="btn btn-primary" (click)="return()">Retour</button>
