<div class="card m-2">
  <div class="card-header">Historique</div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let vote of listVotes; let i=index">
      <div class="row">
        <div class="col-3">
          <img src={{vote.colleague.photo}} class="img-responsive text-center " width="100%"  />
        </div>
        <div class="col-8">
          <div class="row">
            <b>{{vote.colleague.pseudo}}</b>
          </div>
          <div class="row">
            <p>{{vote.colleague.pseudo}} est {{vote.score <= 0 ? "aimé" : "détesté"}}, son score est désormais de {{vote.colleague.score}} {{vote.colleague.score <=0 ? ":-(" : ":-)" }}</p>
          </div>
          <div class="row"><button type="button" class="btn btn-outline-dark mt-1 ms-1"(click)="delVote(i)">Supprimer</button></div>
        </div>
      </div>
    </li>
  </ul>
</div>
